<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<string>mDEky9BqFm1AelrQLn2DeAQPVZ4xio6ns9mNjRTN</string>
	<key>clientKey</key>
	<string>KDNfikNrdqQ3TYBv1pe4RcFOI3ZyefLg7m8wnUvc</string>
</dict>
</plist>
